{{ define "content" }}
<section id="main" class="content-container article-pad-v">
  <div>
    <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
    <ul id="list" class="list-unstyled list-of-titles">
    {{ $pages := .Site.RegularPages }}
    {{ range (.Paginate $pages 7).Pages }}
      {{ if not ((isset .Params "visible")) }}
        <li>
          <a href="{{ .Permalink }}">
            <span class="post-title">{{ .Title }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
</section>
{{ end }}
